@import '~funnel-graph-js/dist/css/main.css';
@import '~funnel-graph-js/dist/css/theme.css';  /* default theme provided by funnel graph */

/* override of label value from theme */
.svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__value {
  color:teal;
}

/* override of label title from theme */
.svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__title {
  color: blue;
  font-size: 14px;
  font-weight: lighter;
}

/* override of label percentage from theme */
.svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__percentage {
  color: red;
  font-size: 14px;
  font-weight: lighter;
}

.EmptyState,
.ErrorState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ErrorState-headingText {
  color: darkgrey;
}
